{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10781331452"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'AW-10781331452');
	</script>




	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="LinguoAI">
	<meta name="description" content="A revolutionary new way to use AI to improve your English writing skills and get instant feedback without the need to consultant a teacher.">

	<link rel="icon" type="image/x-icon" href="{% static 'brain-fav.png' %}">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">

	<!-- Font used for pricing -->
	<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Font Icons -->
	<link rel="stylesheet" href="{% static 'css/font-icons.css' %}">

    <!-- Plugins/Components CSS -->
	<link rel="stylesheet" href="{% static 'css/swiper.css' %}">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Document Title
	============================================= -->
	<title>LinguoAI - the future of language learning</title>

	<!-- CSS for header and home -->
	{% block header %}{% endblock header %}
	{% block stylesheets %}{% endblock stylesheets %}
</head>

<body class="stretched" data-bs-spy="scroll" data-bs-target="#scroll-spy" data-bs-offset="0" tabindex="0">

{% include './includes/header.html' %}

{% block content %}{% endblock content %}

{% include './includes/footer.html' %}


	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="uil uil-angle-up"></div>


    <!-- JavaScript Mostly For the Header -->
	<script src="{% static 'js/plugins.min.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
	<script src="{% static 'js/jquery.js' %}"></script>

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>




	<!-- Main Menu script -->
	<script>
		jQuery(window).on( 'load', function(){
			jQuery('.primary-menu').each( function(){
				let menuEl = jQuery(this),
					marker = menuEl.find('.morph-marker'),
					current = menuEl.find('.current');

				// Initialize the marker position and the active class
				// current.addClass('active');

				marker.css({
					// Place the marker in the middle of the border
					bottom: -(marker.height() / 2),
					left: current.position().left,
					width: current.outerWidth(),
				});


				if (Modernizr.csstransitions) {
					// console.log("using css3 transitions");
					menuEl.find('.menu-item').mouseover(function () {
						var self = jQuery(this),
							offsetLeft = self.position().left,

						// Use the element under the pointer OR the current page item
						width = self.outerWidth() || current.outerWidth() 
						,
						// Ternary operator, because if using OR when offsetLeft is 0, it is considered a falsy value, thus causing a bug for the first element.
						left = offsetLeft == 0 ? 0 : offsetLeft || current.position().left;
						// Play with the active class
						menuEl.find('.active').removeClass('active');
						self.addClass('active');
						marker.css({
							left: left,
							width: width,
						});
					});

					// When the mouse leaves the menu
					menuEl.find('.menu-container').mouseleave(function () {
					// remove all active classes, add active class to the current page item
						menuEl.find('.active').removeClass('active');
						current.addClass('active');
					// reset the marker to the current page item position and width
						marker.css({
							left: current.position().left,
							width: current.outerWidth()
						});
					});

				} else {

					menuEl.find('.menu-item').mouseover(function () {
						var self = jQuery(this),
							offsetLeft = self.position().left,
							// Use the element under the pointer OR the current page item
							width = self.outerWidth() || current.outerWidth(),
							// Ternary operator, because if using OR when offsetLeft is 0, it is considered a falsy value, thus causing a bug for the first element.
							left = offsetLeft == 0 ? 0 : offsetLeft || current.position().left;
						// Play with the active class
						menuEl.find('.active').removeClass('active');
						self.addClass('active');
						marker.stop().animate({
							left: left,
							width: width,
						}, 300);
					});

					// When the mouse leaves the menu
					menuEl.find('.menu-container').mouseleave(function () {
						// remove all active classes, add active class to the current page item
						menuEl.find('.active').removeClass('active');
						current.addClass('active');
						// reset the marker to the current page item position and width
						marker.stop().animate({
							left: current.position().left,
							width: current.outerWidth()
						}, 300);
					});
				}
			});
		});
	</script>

	<script>
	jQuery(document).ready( function(){
		
		jQuery('#block-contactform').on( 'formSubmitSuccess', function(){

			jQuery.magnificPopup.close();
			console.log('This fired!')
			// setTimeout(function(){
			// 	jQuery('#block-modal-contact').magnificPopup('close');
			// }, 500);
		});
	});
	</script>

	<script>
		// Validate the email in the modal.
		const checkEmailValid = () => {
			const warning = document.querySelector('#email-warning-text')
		// Clear the warning if one exists before checking again
			if(warning){
				warning.remove()
			}
			const emailId = document.querySelector('#email-input')
			const email = emailId.value
			const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/ig;
			if (!re.test(email)){
				const span = Object.assign(document.createElement('span'), {
					className:'text-danger', 
					id : 'email-warning-text',
					textContent:'Something\'s not right. Please check your email and try again.'
				});
				emailId.after(emailId, span)
			}
		}


		document.querySelector('#block-contactform')
		.addEventListener('submit', checkEmailValid)


// Make sure the FAQs don't get stuck under the navigation for wide screens
		const offsetMore = e => {
			e.preventDefault()

			const el = document.querySelector(e.srcElement.hash);
			const headerOffset = 30;
			const elPosition = el.getBoundingClientRect().top;
			const offsetPosition = elPosition + window.pageYOffset - headerOffset;
  
			window.scrollTo({
				top: offsetPosition,
				behavior: 'smooth'
			});
		}

		const faqSections = document.querySelectorAll('.list-group-item')
		const media = window.matchMedia('(min-width: 991px)')

		if (media.matches){
			faqSections.forEach(x => x.addEventListener('click', offsetMore))
		}
	</script>

<script>
	const head_button = document.querySelector('#arrow-button')

	if(head_button.children[0].innerText.trim() === 'Dashboard'){
		head_button.addEventListener('mouseover', () => {
			document.querySelector('.fa-arrow-right').style.display = 'inline'
			document.querySelector('.fa-chevron-right').style.display = 'none'
		})

		head_button.addEventListener('mouseout', () => {
			document.querySelector('.fa-arrow-right').style.display = 'none'
			document.querySelector('.fa-chevron-right').style.display = 'inline'
		})
	}
</script>

{% block javascript %}{% endblock javascript %}

</body>
</html>