{% extends '../layouts/base.html' %}

{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="white-content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 pt-4 mt-5">
        <div class="card" >
            <div class="card-body px-2 py-2">
            <div>
                <h1 class="text-center">IELTS Writing Task 2 Result</h1><br>
                <h2 class="text-center mb-0">Band {{ band }}</h2>
                <br>
                <p>{{ score_res|safe }}</p>
                <br>
                <h3>Your Question:</h3>
                <h4>{{ question|safe }}</h4>
                <br>
                <h3>Your Answer:</h3>
                <p>{{ answer|safe }}</p>
                <br><br><br>
                <h5>This submission was made on {{ date }}</h5>
            </div>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>
<br><br>


{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}