{% extends "../layouts/base.html" %}


{% block stylesheets %}
<!-- Event snippet for Credit Purchase conversion page -->
<script>
  gtag('config', 'G-MBH5S83P2X', {
    'linker': {
      ' domains': ['checkout.stripe.com']
    }
  })
  gtag('event', 'conversion', {
      'send_to': 'AW-11365468431/PoSpCNiY6fYYEI-Svasq',
      'value': {{ amount }},
      'currency': '{{ currency }}',
      'transaction_id': ''
  });
</script>
{% endblock stylesheets %}


{% block title %} Payment Accepted! {% endblock title%} 

{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 pt-4 mt-5">
        <div class="card" >
          <div class="card-body px-2 py-2">
            <div>
              <div class="alert alert-success text-center" role="alert">
                <h2>Thanks for topping up, {{ customer }}!</h2>
                <h4>
                  {% if bonus %}
                      You have received a 
                      {% if percentage %}
                        {{ bonus_percent }}% bonus of {{ symbol }}{{ bonus }}.
                        {% else %}
                        bonus of {{ symbol }}{{ bonus }}.
                      {% endif %}
                  Your account has been credited {{ symbol }}{{ total_amount }} {{ currency }} which includes your bonus and payment amount.

                  {% else %}
                  {{ symbol }}{{ amount }} {{ currency }} have been added to your account.
                  {% endif %}
                </h4>
                <a href="{% url 'home' %}" >Go back to the dashboard</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}