{% extends "./base.html" %}

{% block content %}



{% include "./includes/header.html" %}


<div id="word-container">
    <div class="word">Welcome&nbsp;to&nbsp;AI...</div>
    <div class="word">Buongiorno!</div>
    <div class="overlay"></div>
</div>




{% include "./blocks/block-hero-1.html" %}

{% include './blocks/block-content-promo-1.html' %}

{% include "./blocks/main-feature.html" %}

{% include './blocks/pricing.html' %}

{% include "./blocks/block-misc-sticky-cards.html" %}

{% include './blocks/block-content-promo-3.html' %}

{% comment %}
{% endcomment %}



{% endblock content %}



