<div id="wrapper" class="mb-5">

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container">

                <div class="row col-mb-50">

                    <div class="col-12">
                        <div class="promo shadow-sm p-4 p-md-5 border rounded-5">
                            <div class="row align-items-center">
                                <div class="col-12 col-lg">
                                    <h3>Try It For FREE With A Voucher Code!</h3>
                                    
                                    <p class="mb-0 text-muted">Click on the button to receive <span class="color">$2</span> of FREE credit.</p>
                                </div>
                                <div class="col-12 col-lg-auto mt-4 mt-lg-0">
                                    <div class="text-center my-3"><a href="/register/?d=nov2023/" class="btn px-5 btn-primary">Discount Code Sign Up</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- #content end -->


</div><!-- #wrapper end -->