{% load static %}

<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">

		<!-- Hero Section
		============================================= -->
		<section id="slider" class="slider-element min-vh-100">

			<div class="row align-items-center">

				<div class="col-md-5 offset-md-1 p-5">
					<h3 class="text-stretch display-3 fw-bold position-relative">Does the <span style="color: #dd052b;" class="display-2 fw-bold">IELTS</span> Writing test scare you?</h3>
					<p class="lead">With our new IELTS Writing test AI scorer, we harness the power of AI to give you accurate IELTS scores with in depth reasoning as to why you scored the way you did. Trusted by IELTS examiners.</p>
					<div class="text-center my-3"><a href="{% url 'register' %}" class="btn py-2 btn-primary cta-btn">Sign Up</a></div>
				</div>
																									
				<!-- <div class="col-md-6 order-md-2 min-vh-md-100 min-vh-40" style="background-image: url('{% static 'images/worried-student.jpg' %}');"></div> -->
				<div class="col-md-6">
                    <img src="{% static 'images/worried-student.jpg' %}" class="rounded-start px-5" alt="worried student">
                </div>
			</div>

		</section>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap py-0">

				

			</div>
		</section><!-- #content end -->


	</div><!-- #wrapper end -->