{% load static %}

<section id="about">
    <div class="content-wrap">

        <div class="container">

            <div class="row justify-content-around align-items-center">
                <h3 class="h1 fw-bold mb-3 text-center">About Us</h3>
                <div class="col-md-6 col-lg-4">
                    <p>The site was created by Nick Rogerson, a former IELTS examiner from the UK based in China. He is both a teacher and programmer. Nick has spent many years travelling and teaching English around the world and has a strong understanding of the needs of language students and teachers.
                        With the advent of modern AI and complicated Large Language Models, teachers and students can leverage this technology to improve their language skills and efficiency.</p>
                        
                        <p>Teachers can use this site to correct work in minutes and students can freely submit their work to get instant feedback whether they are preparing for an IELTS test or just want to write better English.</p>
                        
                        <p>Long term, we will be looking to add additional functionality, including IELTS Writing Task 1 and the IELTS Speaking Test as well as support for other languages such as Spanish and Chinese.</p>      
                </div>
                <div class="col-md-6 col-lg-7 d-flex overflow-hidden">
                    <img src="{% static 'nick_rogerson_opt.png' %}" class="rounded-start" alt="Nick Rogerson">
                </div>
            </div>

        </div>
    </div>
</section>