<section id="benefits">
	<div class="content-wrap">
		<div class="container mw-md">
			<div class="row align-items-stretch grid-border">

				<h3 class="h1 fw-bold mb-3 text-center">Benefits</h3>

				{% include "./benefits-template.html"
				with svg='./svgs/piggy-bank.svg'
				title="Cheaper Than Doing An IELTS Test"
				text="IELTS tests currently cost between $215 and $310 USD. You can get a band score with high quality feedback for less than a dollar – even better than an IELTS test!"
				%}

				{% include "./benefits-template.html"
				with svg='./svgs/examiner.svg'
				title="Created by IELTS examiners"
				text="Have the confidence to know that scores are randomly checked for accuracy by former and current examiners."
				%}


				{% include "./benefits-template.html"
				with svg='./svgs/fast-clock.svg'
				title="Almost Instant Feedback"
				text="Average turnaround time is less than 30 seconds per submission."
				%}

				{% include "./benefits-template.html"
				with svg='./svgs/no-database.svg'
				title="We Don’t Save Your Credit Card Info"
				text="Credit cards details are handled by third party service."
				%}


				{% include "./benefits-template.html"
				with svg='./svgs/statue-of-liberty.svg'
				title="No Commitments. Pay-As-You-Go"
				text="No need to subscribe. Just buy what you need when you need it."
				%}

				{% include "./benefits-template.html"
				with svg='./svgs/two-pieces-of-paper.svg'
				title="Side-by-side Comparisons"
				text="You can see all the changes the AI made to your work with on-screen side-by-side comparisons and all the corrections highlighted."
				%}

			</div>
		</div>
	</div>
</section>