{% load static %}

<style>
    .card-images {
        display: flex;
        justify-content: space-evenly;
    }

</style>

<section id="pricing">
    <div class="content-wrap d-flex min-vh-100 align-items-center">
        <div class="container">
            <div class="row col-mb-50 justify-content-center">

                <div class="col-xl-6 col-lg-8 text-center">
                    <h3 class="h1 fw-bold mb-3" >Pricing</h3>
                </div>

                <div class="clear"></div>

                <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title h2 fw-bold mb-4 text-black text-center">Pay For What You Use</h3>
                            <p class="card-text mb-0 text-black">Everything is Pay-As-You-Go. You just top up and the credits are added to your account. Credits do not expire and live for the lifetime of your account.</p>
                            <br>
                            <p class="card-text text-black mb-1">Currently, payment is accepted in only two currencies: USD and CNY. USD customers can pay with any credit or debit card including the following:</p>
                            <div class="card-images mt-0">
                                <img src="{% static 'visa_logo.svg' %}" alt="visa logo">
                                <img src="{% static 'mc_logo.svg' %}" alt="mastercard logo">
                                <img src="{% static 'amex_logo.svg' %}" alt="amex logo">
                            </div>
                        <p class="card-text mt-4 mb-1 text-black">CNY customers can ONLY pay with Alipay (支付宝) or WeChat Pay (微信支付).</p>
                            <div class="card-images">
                                <img src="{% static 'wechat_pay_logo.svg' %}" alt="wechat pay logo">
                                <img src="{% static 'alipay_logo.svg' %}" alt="alipay logo">
                        </div>
                            <p class="card-text mt-3 text-black">For more information on pricing, please review <a href="blog/pricing/">this blog page</a>.</p>
                        </div>
                    <div class="text-center my-3"><a href="{% url 'register' %}" class="btn px-5 py-2 btn-primary">Sign Up</a></div>
                </div>

                <div class="col-md-6" >
                    <div id="credit-prices" class="card border-0 shadow-sm h-shadow shadow-ts p-3" style="background: url('{% static 'dollars.jpg' %}') no-repeat top center / cover;">
                            <h3 class="card-title h2 fw-bold mb-4">Cost Per Service</h3>
                            <ul>
                                <li>IELTS Writing Task 2: ${{ ielts_usd }} USD and ¥{{ ielts_cny }} CNY per word.</li>
                                <li>Improved Submissions: ${{ improved_usd }} USD and ¥{{ improved_cny }} CNY per word.</li>
                                <li>Corrected Submissions: ${{ corrected_usd }} USD and ¥{{ corrected_cny }} CNY per word.</li>
                              </ul>
                        <p style="font-family: Inter, sans-serif; font-size: 16px;">Please be aware that some services have word count limits that can be found on their respective service pages.</p>
                    </div>

            </div>
        </div>
    </div>
</section>