<section id="service" class="card-section">
	<div class="content-wrap">
		<div class="container">
			<div class="row justify-content-center col-mb-50">

				<h3 class="h1 fw-bold mb-3 text-center">Services</h3>

				{% include "./product-cards-template.html"
				with source="ielts-results.jpg" 
				alttext="IELTS Writing Task 2" 
				imgpos='first'
				title="IELTS Writing Task 2 Band Scorer"
				text="Want to perform better on your next IELTS writing test? With our AI scorer, you can add your IELTS task 2 writing question along with your response and let the AI do the rest.<br><br>The AI checks your work against the task 2 band descriptors in the same way an IELTS examiner would and then issues you with a score. The tool was developed with the help of current and former IELTS examiners and is therefore extremely accurate."
				%}

				{% include "./product-cards-template.html"
				with source="corrected-results.jpg" 
				alttext="Corrected Results" 
				imgpos='last'
				title="Get Your English Writing Corrected"
				text="Submit your work to our AI and it will find all the mistakes and make corrections where necessary. The corrected work is then displayed back to you side by side with the original so you can clearly see where all the corrections have been made.<br><br>This is a great tool for teachers who are marking work as well as students who want to see where the errors are in their sentences. The tool was designed for non-native speakers who want to correct there work with only the minimal necessary changes."
				%}

				{% include "./product-cards-template.html"
				with source="improved-results.jpg" 
				alttext="Improved results" 
				imgpos='first'
				title="Improve Your English Writing"
				text="This AI tool takes your work to the next level. You can submit your work and then the AI will try to improve the English and make it more natural and elegant.<br><br>We recommend this tool for both native and non-native speakers who want their work to be flawless and sophisticated."
				%}

			</div>
		</div>
	</div>
</section>