<div id="credits" class="sub-section pt-5">
    
    <h3>Payment</h3>

    {% include "./faq-template.html" 
    with question="Does credit I add to my account ever expire?" 
    answer="No. Any money added is there for good." 
    %}

    {% include "./faq-template.html" 
    with question="How do I top up?" 
    answer="Just click on the “Top Up” button in the Members’ area and you can choose how much money you would like to add to your balance. You will then be redirected to Stripe to make a purchase." 
    %}

    {% include "./faq-template.html" 
    with question="Do I need a credit card to top up?" 
    answer="USD customers need a credit or debit card." 
    %}

    {% include "./faq-template.html" 
    with question="Can I pay with Wechat or Alipay?" 
    answer="Yes, so long as you choose Chinese Renminbi (CNY) as your currency, otherwise you need a credit/debit card." 
    %}

</div>