<div id="general" class="sub-section pt-5">
    <h3>General</h3>

    {% include "./faq-template.html" 
    with question="Do I get my results instantly?" 
    answer="No, every time you submit your work, the turnaround time can vary from a few seconds to over a minute. It largely depends upon how many words you submit and how busy the server is." 
    %}

    {% include "./faq-template.html" 
    with question="Can my work be detected by an AI detector?" 
    answer="More than likely. If you just ask it to correct your work, then you may get away with it. The improved submissions undergo major changes to the sentence structures and can leave an AI fingerprint, so it’s not recommended for work you intend to submit formally." 
    %}

    {% include "./faq-template.html" 
    with question="Can I test it first?" 
    answer='Yes. Contact us via the <a class="text-dark h-text-primary" href="#block-modal-contact" data-lightbox="inline"><u>contact form</u></a> and we\'ll send you a voucher code.'
    %}

    {% include "./faq-template.html" 
    with question="Does my work get saved?" 
    answer="Yes. All your submissions are saved on our server and can be accessed and reviewed when you like." 
    %}

    {% include "./faq-template.html" 
    with question="Can I download my results?" 
    answer="Yes. You can download either a PDF or DOCX (Microsoft Word) version of your work. The options are displayed at the top of the results page." 
    %}

    {% include "./faq-template.html" 
    with question="Can I download my results in bulk?" 
    answer="Yes. Go to one of the results pages and select the results you wish to bulk download and in what format. You will receive them as a zip file." 
    %}

    {% include "./faq-template.html" 
    with question="Can I upload documents or do I have to copy and paste everything in?" 
    answer="Yes, you can upload docx, pdf, txt and rtf files directly without having to copy and paste the content in." 
    %}

    {% include "./faq-template.html" 
    with question="Can I upload multiple documents?" 
    answer="Yes. You can submit a folder or zip file and drop in to get improved and corrected results. This service is not available for IELTS Task 2 at the moment." 
    %}

    {% include "./faq-template.html" 
    with question="Do I need to sign up to use the site?" 
    answer="Yes. This is because you will need to add funds to your account to use it and this can only be done with an account." 
    %}

    {% include "./faq-template.html" 
    with question="How many words can I submit?" 
    answer="Up to 5000 words per submission for Corrected and Improved results. The limit for IELTS Task 2 is 600 words." 
    %}

</div>