<div id="ielts" class="sub-section pt-5">
    <h3>IELTS</h3>

    {% include "./faq-template.html" 
    with question="Can I make multiple submissions and get an average score?" 
    answer="Yes. We keep track of all your scores and give you a median and mean band average." 
    %}

    {% include "./faq-template.html" 
    with question="How accurate is the IELTS Writing Task 2 Scorer?" 
    answer="Very accurate. The app has been tested against scores given by current and former examiners. We are also currently looking to improve performance and make it even more accurate than some current examiners (who only have to be within 0.5 of a band anyway).<br><br>That said, Large Language Models (LLMs) that are used to perform such tasks can hallucinate and give odd results, so errors can sometimes occur.<br><br> If you think the score is wrong, then you can challenge it by reporting it to us and we may refund it." 
    %}

    {% include "./faq-template.html" 
    with question="Do you have an IELTS Writing Task 1 Scorer?" 
    answer="No, but this is currently in the pipeline. IELTS Task 1 is slightly more nuanced than task 2 and can require the AI to have some understanding of images and graphs which is currently under development." 
    %}

    {% include "./faq-template.html" 
    with question="Can I get a real examiner to check my work?" 
    answer="No. All submissions are checked by the AI and then sent back to you with an explanation as to why you were given that band." 
    %}

    {% include "./faq-template.html" 
    with question="Where can I find IELTS Writing Task 2 questions?" 
    answer='You can Google around to find current questions reported by candidates. <a rel=”nofollow” href="https://howtodoielts.com/recent-ielts-writing-topics-2022/">Here is a recent list to get you started.</a>'
    %}

</div>