{% extends "members/layouts/base-fullscreen.html" %}

{% block title %} Logged Out {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row pt-lg-0 pt-5">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 mt-5 offset-md-2 pt-5 mt-5">
        <div class="card">
            <div class="card-header text-center py-4">
                <h2>You're logged out!</h2>

                <p>Thanks for visiting and we hope you enjoyed yourself!</p><br>
                <h4><a href="{% url 'login' %}">Click here to log back in</a></h4>
            
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
