{% extends "members/layouts/base-fullscreen.html" %}

{% block content %}
<div class="col-12 col-sm-10 offset-sm-1 col-md-8 mt-5 offset-md-2 pt-5 mt-5">
    <div class="card">
        <div class="card-header text-center py-4">
            <h2>Go to your email!</h2>
            <p>
            If the email that you provided exists, then you will receive a link to reset your password.
            Please go to your email and find that link.
            Also, don't forget to check your Spam or Promotions folders.
            </P>         
        </div>
    </div>
</div>

{% endblock content %}