{% extends "members/layouts/base-fullscreen.html" %}

{% block content %}
<div class="col-12 col-sm-10 offset-sm-1 col-md-8 mt-5 offset-md-2 pt-5 mt-5">
    <div class="card">
        <div class="card-header text-center py-4">
            <h3>Congratulations, You Have Successsfully Reset Your Password!</h3>
                <p>
                Please use this link to sign back in <a href="{% url 'login' %}" class="text-primary">Login</a>
                </P>       
        </div>
    </div>
</div>
{% endblock content %}