{% extends "members/layouts/base-fullscreen.html" %}

{% load static %}

{% block content %}

<div class="row pt-5">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 mt-5 offset-md-2 pt-5 mt-5">
        <div class="card">
            <div class="card-header text-center py-4">
                <h3 class="title">
                    Reset your old password
                </h3>
            
                <h6 class="card-category">
                    {% if form.errors %}
                        {% for field, errors in form.errors.items %}
                            {% for e in errors%}
                            <h5 class="text-danger">{{ e|striptags }}</h5>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                    <span>
                        <h5>Please enter the email address you used to sign up.</h5>
                    </span>
                    {% endif %}  
                </h6>
            </div>

            <form role="form" method="post" action="">
                {% csrf_token %}  

                <div class="card-body px-5 py-3"> 
                    {% for field in form %}
                    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3 px-md-1">
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                    </div>
                    {% endfor %}

                </div>
                
                <div class="card-footer text-center">
                    <button type="submit" name="reset-password" class="btn btn-fill btn-primary">Reset Password</button>
                    
                    <br /><br />
                    <a href="{% url 'login' %}" >Back to Login</a>  
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}