{% load static %}

<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="apple-touch-icon" sizes="76x76" href="/Users/nickrogerson/Desktop/LinguoAI/Linguo-ai/LinguoAI/members/static/img/apple-icon.png"> -->
    <!-- <link rel="icon" type="image/png" href="/Users/nickrogerson/Desktop/LinguoAI/Linguo-ai/LinguoAI/members/static/img/favicon.png"> -->

    <title>
        Django Dashboard Black - {% block title %}{% endblock %} | AppSeed
    </title>

    <!--     Fonts and icons     -->
    <link href="static/css/Poppins/Poppins-Medium.ttf" rel="stylesheet"/>
    


    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/> -->
    <!-- <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> -->

    <!-- Nucleo Icons -->
    <!-- <link href="/Users/nickrogerson/Desktop/LinguoAI/Linguo-ai/LinguoAI/members/static/css/nucleo-icons.css" rel="stylesheet"/> -->
 
    <!-- <link href="/Users/nickrogerson/Desktop/LinguoAI/Linguo-ai/LinguoAI/members/static/css/black-dashboard.css" rel="stylesheet"/> -->
    <link href="/Users/nickrogerson/Desktop/LinguoAI/Linguo-ai/LinguoAI/members/static/css/custom1.css" rel="stylesheet"/>





    <!-- <link href="/Users/nickrogerson/Desktop/LinguoAI/Linguo-ai/LinguoAI/members/static/css/theme-switcher.css" rel="stylesheet"/> -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link href="/Users/nickrogerson/Desktop/LinguoAI/Linguo-ai/LinguoAI/members/static/demo/demo.css" rel="stylesheet"/> -->

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

    
        
</head>
<body class="white-content">

    <div class="wrapper">

        <div style="border-top: 0px;" class="main-panel">

            {% block content %}{% endblock content %}

        </div>
    </div>

    {% include '../includes/scripts-pdf.html' %}

    {% comment %}

    {% endcomment %}
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
