{% extends "../layouts/base.html" %}

{% block title %} - Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <h3>Hi, {{ user.first_name }}!</h3>
        <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h5 class="card-category">Last 14 Days</h5>
                                <h2 class="card-title">Usage</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartBig1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="row">
            
            <div class="col-lg-7 col-sm-12">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Recent Activity</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter">
                                {% if usage %}
                                <thead class="text-center text-primary">
                                <tr>
                                    <th>
                                        Service Used
                                    </th>
                                    <th>
                                        Time Used
                                    </th>
                                    <th>
                                        Cost
                                    </th>
                                    <th>
                                        Balance
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for use in usage %}
                                <tr class="text-center">
                                    <td>
                                        {{ use.usage_type }}
                                    </td>
                                    <td>
                                        {{ use.time_created|date:'SHORT_DATE_FORMAT'  }}
                                    </td>
                                    <td>
                                        {% if user.currency == 'USD' %}
                                        ${% else %}¥{% endif %}{{ use.charged }}
                                    </td>
                                    <td>{% if user.currency == 'USD' %}
                                        ${% else %}¥{% endif %}{{ use.new_balance }}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                {% else %}
                                    <tr><h4>You have still not submitted anything yet.</h4></tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-5 col-sm-12">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Purchase History</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter">
                                {% if purchases %}
                                <thead class="text-center text-primary">
                                <tr>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Time Bought
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for purchase in purchases %}
                                <tr class="text-center">
                                    <td >
                                        {% if user.currency == 'USD' %}
                                        ${% else %}¥{% endif %}{{ purchase.amount }}
                                    </td>
                                    <td>
                                        {{ purchase.time_created|date:'SHORT_DATE_FORMAT'  }}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                {% else %}
                                    <tr><h4>You have still not bought any credits.</h4></tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% load tz_detect %}
{% tz_detect %}

<script data-labels="{{ labels }}" data-data="{{ data }}">
    const data = document.currentScript.dataset;
    const chart_labels = data.labels.split(',')
    const chart_data = data.data.split(',')
    const currency = '{{ currency }}'

     $(document).ready(function () { 
        initDashboardPageCharts();
    });
</script>

{% endblock javascripts %}
