{% extends "../layouts/base.html" %}

{% load static %}

{% block stylesheets %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
<div class="content">
    
    <div class="container-fluid">
      <h2 class="mb-0">BETA</h2>
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 pt-4 mt-3">
        <div class="card">
            <div class="card-header text-center py-4">
                <h1 class="title mb-1">
                    IELTS Writing Task 2
                </h1>
            </div>
        <div class="card-body px-2 pt-2 pb-0">
          <h5>The cost of using this service is <strong>{{ per_word }} per word</strong> and you have to submit a minimum of 250 words. Thus, the minimum cost per submission is {{ min_flat_rate }}.</h5>

            <p>There is a hard limit of 3000 characters per answer (around 600 words) which is more than double the 250 word minimum for IELTS Writing Task 2.
              We suggest you write around 400 words.</p>
              <p>As this service is currently in <strong>BETA</strong>, we are providing it at cost value.</p>
        </div>

        <div class="card">
            <div class="card-body pt-0">
            <form action="" method="post" id="ielts-form-submit">
                {% csrf_token %}

                <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-5 px-0 mt-0">
                    <div class="form-group" id="explanation">
                    <label for="explanation">Select your explanation language:</label>
                    {{ form.explanation_language }}
                  </div>
                  <span class="text-danger">{{ form.explanation_language.errors }}</span>
                </div>

                <label for="question">Type or Paste In Your Question</label>
                <div class="form-group" id="question">
                    {{ form.question }}
                </div>
                <p id="question-count">Word Count: 0</p>
                <span class="text-danger">{{ form.question.errors }}</span>
                <br>
                <label for="answer">Type or Paste In Your Answer</label>
                <div class="form-group" id="answer">
                    {{ form.answer }}
                </div>
                <p id="answer-count">Word Count: 0</p>
                <span class="text-danger">{{ form.answer.errors }}</span>
                
                <div class="text-center">

                    <input id="button" type="submit" value="SUBMIT" class="btn btn-fill btn-primary">

                    <input id="clear" type="button" value="CLEAR FORM" class="btn btn-fill btn-primary">
                </div>
                
            </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<br><br>
{% endblock content %}

{% block javascripts %}
<script src="{% static 'js/ielts-form.js' %}"></script>
{% endblock javascripts %}