{% extends "../layouts/base.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<link href="{% static 'css/forms.css' %}" rel="stylesheet" />

<style>
  #reveal-table{
    display: none;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 pt-4 mt-5">
        <div class="card">

            <div class="card-header text-center py-4">
                <h1 class="title">
                    {% if request.resolver_match.url_name == 'improved' %}
                      Improve
                    {% else %}
                      Correct
                    {% endif %}
                    Your Work
                </h1>
            </div>

          <div class="card" id="top-card" >
            <div class="card-body">
              <p>The cost of using this service is <strong>{{ per_word }} per word</strong> with a <u>minimum</u> charge of {{ min_charge }} per submission, which is around <strong>{{ min_words }} words</strong>.</p>
              <p>There is a maximum word limit being enforced of 5000 words. If you need more, then please contact us.</p>
              <p>You can either send us your files or input them manually, but not both.</p>
              <div id="dropzone-block">
                <h4>Upload <strong>.docx, .pdf, .rtf, .txt</strong> or any of those file types zipped in a <strong>.zip file</strong>.</h4>
                <figure>
                  <figcaption>Please note:</figcaption>
                <ol>
                  <li>Uploaded files are processed immediately on submission and you cannot reverse it once you have dropped them below.</li>
                  <li>Make sure all your files <strong>ONLY contain text</strong> ie. no tables, graphs etc.</li>
                  <li>The server has its limitations, so if you upload a lot of files at the same time, then expect to wait.</li>
                </ol>
                </figure>
                <form action="
                {% if 'corrected' in request.build_absolute_uri %}
                {% url 'dropzone' 'corrected' %}
                {% else %}
                {% url 'dropzone' 'improved' %}
                {% endif %}
                " class="dropzone" id="dropzone-area">{% csrf_token %}</form>
            </div>
          </div>
        </div>

          <div class="card" id="reveal-table">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table tablesorter">
                  <thead class="text-center text-primary">
                    <tr>
                        <th></th>
                        <th>Time Elapsed</th>
                        <th>Word Count</th>
                        <th>Cost</th>
                        <th>File Name</th>
                        <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

      
      <div id="text-input">
        <div class="card">
            <div class="card-body">
              <form action="" method="post" id="manual-input-form">
                   {% csrf_token %}

                    <label for="submission">Type or Paste In Your Work Below:</label>
                    <div class="form-group">
                      {{ form.submission }}
                    </div>
                    <p id="sub-count">Word Count: 0</p>
                    <span class="text-danger">{{ form.submission.errors }}</span>
                    <div class="text-center">
                    <input id="button" type="submit" value="SUBMIT" class="btn btn-fill btn-primary">
                    <input id="clear" type="button" value="CLEAR FORM" class="btn btn-fill btn-primary">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
{% endblock content %}

{% block javascripts %}
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script src="{% static 'js/forms.js' %}"></script>
{% endblock javascripts %}