{% extends "../layouts/base.html" %}

{% load static %}

{% block stylesheets %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet" />

<style>

th {
    font-size: 1.5em !important;
}

#delete-area{
    display: none;
    visibility: hidden;
}

</style>
{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 pt-4 mt-5">

            <div class="alert alert-danger" id="input-warning" role="alert">
                You've not selected anything! Please select an item and try again.
              </div>

              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" id="subs-removed-success" role="alert">
                    {{ message }}
                </div>
              {% endfor %}
              {% endif %}
             
        <div class="card" >
            <div class="card-header text-center pt-5 pb-1">
                <h1 class="title mb-0">
                   Submission Log
                </h1>
            </div>

        <div class="card">
            <div class="card-body">
                {% if object_list %}
                <div class="container">
                <div class=row>
               
                <div class="mb-2 form-row col-md-5 order-md-first order-last">
                    <form name="download" class="form-group ml-2 ">                        
                        <select name="download" id="dropdown" class="form-control py-1">
                            <option value="" selected="">Choose Action</option>
                            <option value="">Delete Selected</option>
                            <option value="{% url 'get_bulk_pdf' %}">Get PDF Versions</option>
                            <option value="{% url 'get_bulk_docx' %}">Get DOCX Versions</option>
                           
                          </select>
                    </form>
                </div>
         
          
                <div class="px-2 pt-4 col-md-7" >
                    <h4>Click on the link in the Submission Type column to retrieve your result.</h4>
                </div>
         
        </div>
                <form action="{% url 'log-delete' %}" name="delete-files" class="form-group ml-2" id="delete-files" method="post"> 
                    {% csrf_token %} 

                
                <div class="mb-2" id="delete-area">
                    <h4 style="color: red;">Are you sure you want to delete these results?</h4>
                    <button type="submit" id="delete" class="btn btn-warning btn-sm">YES, DELETE THEM!</button>
                    <button type="button" id="undo-form-freeze" class="btn btn-sm" style="background:green;">NO, KEEP THEM!</button>
                </div>


                {% endif %}
                   
                <div class="card ">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter">
                            {% if object_list %}
                            <thead class=" text-primary">
                            <tr>
                                <th><input type="checkbox" id="select-all-items" name="" value=""></th>
                                <th>Date Created</th>
                                <th>Submission Type</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            {% endif %}
                            <tbody>
                            {% for result in object_list %}
                            <tr>
                                <td><input type="checkbox" class="checkbox" id="{{ result.pk }}" name="checks" value="{{ result.url_link }}/{{ result.pk }}"></td>
                                <td >{{ result.time_created }}</td>
                                <td ><a href="{% url result.url_link result.pk %}">{{ result.type }}</a></td>
                                <td >{{ result.status }}</td>
                            </tr>
                            {% empty %}
                                <tr><h3>You still have not submitted anything yet.</h3></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        </div>
                        </div>
                       
                    </form>
                    </div>
                </div>
            </div>


            {% if object_list %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<br><br>

{% endblock content %}


{% block javascripts %}
{% if messages %}
<script>
    // Add and remove this code when it is deleted successfully
    $("#subs-removed-success").fadeTo(2000, 500).slideUp(500, function() {
        $("#subs-removed-success").slideUp(500);
    }) 
</script>
{% endif %}

<script src="{% static 'js/results.js' %}"></script>
{% endblock javascripts %}