{% extends "../layouts/base.html" %}

{% block stylesheets %}
<style>
th, td {
  font-size: 1rem !important;
}
</style>

{% endblock stylesheets %}

{% block title %} Your submission is being processed!{% endblock title%} 

{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 pt-4 mt-5">
        <div class="card" >
          <div class="card-body px-2 py-2">
            <div>
              <div class="alert" role="alert">
                  <h2 id="heading" class="text-center">We are processing your submission</h2>
                  <p id="para">We have received your submission and are now processing it. Processing times can vary from a few seconds to over a minute depending on a number of factors.<br><br>
                  Once your submission is complete, please click on the link in the Submission Type category to view your result.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="text-center table tablesorter">
                  <thead class="text-primary">
                    <tr>
                        <th>Time Elapsed</th>
                        <th>Word Count</th>
                        <th>Cost</th>
                        <th>Submission Type</th>
                        <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="row-1">
                      <td>0 secs</td>
                      <td>{{ word_count }}</td>
                      <td>{{ symbol }}{{ cost }}</td>
                      <td>{{ sub_type }}</td>
                      <td>PENDING</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}


{% block javascripts %}


<script>
// Starts when row initiated then stops counting when status changes
      const counter = () => {
          let secs = 0
          const cell = document.querySelector('#row-1 td:first-child')
          const incrementer = () => {
            secs++
            const s = secs === 1 ? '' : 's'
            cell.innerHTML = `${secs} sec${s}`
            const status = document.querySelector('#row-1 td:last-child').innerHTML
            if(status !== 'PENDING') {
              clearInterval(interval)
            }
          }
        const interval = setInterval(incrementer, 1000)
      }

    window.addEventListener('load', counter)



    const ws = new WebSocket(`ws://${window.location.host}/ws/single-submission/`);

      ws.onclose = e => {
          console.error('Web Socket closed unexpectedly');
          };


      ws.onmessage = e => {
        const data = JSON.parse(e.data);

        if(data.status === 'success' || data.ready){
            const { status, new_balance, pk } = data
          
            const el = document.querySelector('#row-1')
 
            let page; 
            const loc = window.location.toString()
            if(loc.includes('corrected')){
                page = 'corrected'
              } else if (loc.includes('improved')){
                page = 'improved'
              } else {
                page = 'ielts-writing-task-2'
            }

            const newLink = `<a href="/${page}-results/${pk}/">${el.children[3].innerHTML}</a>`
            el.children[3].innerHTML = newLink
            el.children[4].innerHTML = 'Completed'

            page = page.split('-').map(x => x[0].toUpperCase() + x.slice(1)).join(' ')

            document.querySelector('#balance').innerHTML = new_balance.toFixed(2)
            document.querySelector('#heading').innerHTML = 'We have processed your submission!'
            document.querySelector('#para').innerHTML = `
            We have finished processing your submission. Please click on the ${page} link in the Submission Type category to view your result.`
            document.querySelector('title').innerHTML = 'Your submission has been processed!'
        }
    }
</script>
{% endblock javascripts %}