.form-control {
	background: #d9e4ec;
}

.form-control:focus {
	background-color: transparent;
}


.errorlist li {
	color: red !important;
  }


/* Navigation - credit button */
.one-line {
	white-space: nowrap;
	text-align: center;
}

span.one-line {
	line-height: 3em;
}

.tim-icons {
	margin-right: 4px;
}

/* Increase size of login and register submit buttons */
.lg-submit-btn {
	padding: 11px 70px;
}