{% load static %}

	<div id="wrapper">

		<!-- Footer
		============================================= -->
		<footer id="footer" class="bg-light border-width-1 border-f5">
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row justify-content-center text-center py-sm-5">
						<div class="col-12 mb-4">

							<div class="widget">
								<a href="#"><img src="{% static 'footer-linguo-logo.jpg' %}" alt="Image" ></a>
								<span id="slogan" class="tetx-uppercase op-05 d-block">The AI Way To Improve Your Language Skills</span>
							</div>

						</div>

						<div class="clear"></div>

						<div class="col-12 mt-5">

							<div class="widget">
								<ul class="list-inline m-0">
									<li class="list-inline-item mx-lg-3 my-lg-0 m-3"><a class="text-dark h-text-primary" href="#service"><u>Services</u></a></li>
									<li class="list-inline-item mx-lg-3 my-lg-0 m-3"><a class="text-dark h-text-primary" href="#benefits"><u>Benefits</u></a></li>
									<li class="list-inline-item mx-lg-3 my-lg-0 m-3"><a class="text-dark h-text-primary" href="#pricing"><u>Pricing</u></a></li>
									<li class="list-inline-item mx-lg-3 my-lg-0 m-3"><a class="text-dark h-text-primary" href="#about"><u>About</u></a></li>
									<li class="list-inline-item mx-lg-3 my-lg-0 m-3"><a class="text-dark h-text-primary" href="#faqs"><u>FAQs</u></a></li>
									<li class="list-inline-item mx-lg-3 my-lg-0 m-3"><a class="text-dark h-text-primary" href="#block-modal-contact" data-lightbox="inline"><u>Contact Us</u></a></li>
								</ul>
							</div>

							{% include '../homepage/contact.html' %}

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="bg-white">
				<div class="container">

					<div class="row">

						<div class="col-12 text-center">
							<!-- <div class="d-flex justify-content-center mb-3">
								<a href="#" class="social-icon si-small rounded-circle border-transparent text-white bg-facebook">
									<i class="fa-brands fa-facebook-f"></i>
									<i class="fa-brands fa-facebook-f"></i>
								</a>

								<a href="#" class="social-icon si-small rounded-circle border-transparent text-white bg-twitter">
									<i class="fa-brands fa-twitter"></i>
									<i class="fa-brands fa-twitter"></i>
								</a>

								<a href="#" class="social-icon si-small rounded-circle border-transparent text-white bg-pinterest">
									<i class="fa-brands fa-pinterest-p"></i>
									<i class="fa-brands fa-pinterest-p"></i>
								</a>

								<a href="#" class="social-icon si-small rounded-circle border-transparent text-white bg-linkedin">
									<i class="fa-brands fa-linkedin"></i>
									<i class="fa-brands fa-linkedin"></i>
								</a>
							</div> -->
							<span class="text-black-50">&copy; {{ year }} All Rights Reserved by Linguo AI</span>
						</div>

					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div>

	{% block javascript %}
	
	{% endblock javascript %}
